.card {
    --size: 3rem;
    justify-self: center;
    width: var(--size);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.card img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}
.card span {
    margin-top: 1em;
}
.card:hover img {
    
}